<div class="container">
  <h2>Users List</h2>
  <div class="row">
    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="search" />
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary pull-right" [routerLink]="['/app-add-user']">Add User</button>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Department</th>
        <th>Position</th>
        <th>Contact</th>
      </tr>
    </thead>
    <tbody>
      <!--<tr *ngFor="let user of users">
      </tr>-->
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.userName }}</td>
        <td>{{ user.roleName }}</td>
        <td>{{ user.departmentName }}</td>
        <td>{{ user.position }}</td>
        <td>{{ user.contactNo }}</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-2">
      <label>No of records</label>
      <select class="form-control" style="width:revert;height:28px;">
        <option>Select</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </div>
    <div class="col-md-8">
      <div class="col-lg-4 col-md-4 my-2 d-inline-flex align-items-center justify-content-lg-center" style="margin-left:300px">Showing 10 of 50 entries</div>
    </div>
    <div class="col-md-2 pull-right">
      <ul class="pagination pagination-sm">
        <li><a href="#">1</a></li>
      </ul>
    </div>
  </div>



</div>
